a{
    text-decoration: none;
}
 .image-hero{
    display: block;
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(8, 6, 6, 0.979), rgba(0, 0, 0, 0.5))
}
.image-hero img{
    display: block;
    width: 100%;
    height: auto;
}
.textImage img{
   
  position: absolute;
  top: 60%;
  left: 60%;
  height: 20%;
  width: 20%;
}
.image-hero h1{
 text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: #1a181780;
  width: 100%;
}
.image-hero p{
  text-align: center;
  position: absolute;
  top: 60%;
  left: 25%;
  
  color: white;
  background-color: #c97c4980;
  width: 50%;
}
h1{
    position: relative;
}

article img{
    position: relative;
}
section img{
    vertical-align:bottom;
}
.sociallinks img{
    height: 100px;
    width: 100px;
    float: right;
}
h1, h2, h3, h4 {
    font-family: "Hind Mysuru";
    color: #283618;
}
p {
    font-family: "Hind Mysuru";
    font-weight: 300;
}
body {
    background-color:#606C38;
  }
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #DDA15E;
}
nav{
    display: flex;
    flex-direction: row;
    width: 500px; /*moves nav left and right*/
    margin: 10px; /*moves height of nav*/
    line-height: 75px; /*also move height of nav*/
    font-size: 50px;
    font-family: "Hind Mysuru";
}
.logo-box img{
    width: 100px;
    height: 100px;
}
body, html {
    height: 100%;
    margin: 0;
  }