a{
    text-decoration: none;
}
.hero div{
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}
h1{
    position: relative;
}

article img{
    position: relative;
}
section img{
    vertical-align:bottom;
}
.sociallinks img{
    height: 100px;
    width: 100px;
}
h1, h2, h3, h4 {
    font-family: "Hind Mysuru";
    color: #283618;
}
p {
    font-family: "Hind Mysuru";
    font-weight: 300;
}
body {
    background-color:#606C38;
  }
