a{
    text-decoration: none;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
.image hero{
    position: absolute;

}
h1{
    position: absolute;
}

article img{
    position: right;
}
section img{
    vertical-align:bottom;
}
.sociallinks img{
    height: 100px;
    width: 100px;
}
h1, h2, h3, h4 {
    font-family: "Hind Mysuru";
}
p {
    font-family: "Hind Mysuru";
    font-weight: 300;
}